*{
    box-sizing: border-box;
    font-family: Helvetica;
    
}


body{
    background-color: #fdfbf7;
    padding: 40px;
}
.carta-menu{
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    box-shadow: 10px 10px 10px lightgray;
    border-top: 5px solid #4b3621;
}

h1{
    text-align: center;   
}

h2{
    color: #4b3621;
}



.tabla-precios{
    width: 100%;
    border-collapse: collapse;
}
.tabla-precios th{
    background-color: #4b3621;
    color: white;
    text-align: left;
    padding: 15px
}

.tabla-precios td{
    padding: 15px;
    border-bottom: 1px solid gray;

}