.solid{
    border-width: 10px;
    border-color: pink;
    border-style: solid;
    padding: 10px;
    margin: 10px;
}

.groove{
    border-width: 10px;
    border-color: pink;
    border-style: groove;
    padding: 10px;
    margin: 10px;
}

.ridge{
    border-width: 10px;
    border-color: pink;
    border-style: ridge;
    padding: 10px;
    margin: 10px;
}

.inset{
    border-width: 10px;
    border-color: pink;
    border-style: inset;
    padding: 10px;
    margin: 10px;
}

.outset{
    border-width: 10px;
    border-color: pink;
    border-style: outset;
    padding: 10px;
    margin: 10px;
}