* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Encabezado y Navegación */
header {
  background: linear-gradient(to right, darkgreen, lightgreen);
  padding: 20px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px grey;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav ul li {
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  background-color: brown;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
}

nav ul li a:hover,
nav ul li a:focus {
  text-decoration: underline;
}

/* Sección Destacada */
.destacado {
  background: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  width: fit-content;
  text-align: center;
}

.destacado img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.destacado h2 {
  color: darkgreen;
}

.destacado .descripcion {
  color: darkgrey;
  margin: 20px 0px;
}

.destacado button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.destacado button:hover {
  background-color: darkgreen;
}

/* Tabla de Productos */
.tabla-productos {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.tabla-productos caption {
  font-weight: bold;
  margin: 10px;
}

.tabla-productos th,
.tabla-productos td {
  padding: 10px;
  border: 1px solid #000;
}

.tabla-productos th {
  background-color: brown;
  color: white;
}

.tabla-productos tbody tr:nth-child(odd) {
  background-color: lightgrey;
}

/* Sección del Equipo */
.equipo {
  background: linear-gradient(to bottom, beige, white);
  padding: 20px;
  display: flex;
}

.equipo h2 {
  color: darkbrown;
}

.equipo img {
  width: 90%;
  border-radius: 10px;
  margin-right: 20px;
}

.contenedor-equipo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-equipo p {
  font-size: 1.2em;
}

.contenedor-equipo ul li {
  color: black;
  border: 2px solid brown;
  padding: 5px;
  margin-bottom: 10px;
}

main {
  width: 70%;
}

/* Barra Lateral (Aside) */
aside {
  right: 0;
  top: 0;
  width: 20%;
  background-color: lightgreen;
  padding: 10px;
  box-sizing: border-box;
}

aside p {
  margin: 15px 0px; 
}

#img_equipo {
  border-radius: 15px;
}

footer {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

/* Layout con flexbox */
#layout {
  display: flex;
  justify-content: space-around;
}
