.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

}

.card{
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: coral;
    border-radius: 10px;
}