/* Contenedor principal de lectura */
main {
    max-width: 900px; /* Ancho de lectura cómodo */
    margin: 40px auto;
    padding: 0 20px;
    background-color: #fff; /* Opcional: para que parezca una "hoja" sobre el fondo gris */
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 8px;
    padding-bottom: 20px;
}

h2 {
    color: #d32f2f;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin: 30px 0;
}

/* Imagen principal responsive */
figure {
    margin: 0;
    text-align: center;
}

figure img {
    max-width: 100%; /* CLAVE: Hace la imagen responsive a cambios de tamaño de la pantalla */
    height: auto;    /* Mantiene la proporción */
    border-radius: 0 0 8px 8px; /* Redondeamos solo abajo */
}

figcaption {
    color: #666;
    font-style: italic;
    margin-top: 10px;
    font-size: 0.9em;
}

/* Listas de definición dl */
dl {
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #d32f2f;
    border-radius: 4px;
}

dt {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    margin-top: 15px;
}

dd {
    margin-left: 0; /* Quitamos el margen por defecto */
    margin-bottom: 10px;
    color: #555;
    line-height: 1.5;
}

/* Estilos para la tabla */

table {
    width: 100%;
    border-collapse: collapse; /* Elimina el doble borde */
    margin-top: 20px;
    font-size: 0.95em;
}

/* Títulos de la tabla (Caption) */
caption {
    text-align: right;
    font-size: 0.85em;
    color: #777;
    padding: 10px 0;
    font-style: italic;
}

/* Celdas generales */
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle; /* Alinea verticalmente si hay rowspan */
}

/* Cabecera principal (thead) */
thead th {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Filas divisorias (las que tienen colspan="3") */
/* Usamos selector de atributo para detectarlas fácilmente */
tbody th[colspan="3"] {
    background-color: #e0e0e0;
    color: #d32f2f;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}


/* Hover en filas para ayudar a leer */
tbody tr:hover {
    background-color: #ffebee; /* Un rojo muy muy suave al pasar el ratón */
}

/* Las celdas de encabezado de fila (scope="row") */
tbody th[scope="row"] {
    background-color: #fff; /* Queremos que destaquen sobre el gris */
    color: #333;
    font-weight: bold;
    white-space: nowrap; /* Evita que "Motor V6" se parta en dos líneas si es posible */
}