/* Header */
header {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

div.main-title {
    width: 100%; /* Ocupa todo el espacio restante disponible */
    text-align: center; /* Centra el texto dentro de este espacio */
}

header img {
    /* Reducimos un poco el logo para que encaje mejor si es muy grande */
    width: 120px;
}

header {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header p {
    font-style: italic;
    color: #666;
    margin: 5px 0 0 0;
    /* Un pequeño margen superior */
}

/* Navegación con Flexbox */
nav {
    background-color: #222;
    border-bottom: 5px solid #d32f2f;
}

nav ul {
    display: flex;
    /* Flex container */
    justify-content: center;
    /* Centrado horizontal */
    list-style: none;
}

nav li a {
    display: block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    background-color: #d32f2f;
}

/* Layout principal con flexbox */
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px 40px;
}

main {
    width: 70%;
    /* Ocupa 3 partes del espacio disponible (75%) */
}

aside {
    width: 25%;
    /* Ocupa 1 parte del espacio disponible (25%) */

    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    height: fit-content;
    /* Se ajusta al contenido */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Un toque de profundidad */
    margin-left: 20px;
}

/* Estilos internos del Aside (Listas y Enlaces) */
aside h3 {
    margin-top: 0;
    color: #d32f2f;
    border-bottom: 2px solid #eee;
}

aside ul {
    list-style: none;
    /* Quitamos viñetas estándar */
}

aside li {
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    /* Separadores sutiles */
    padding-bottom: 5px;
}

aside a {
    text-decoration: none;
    color: #333;
}

aside a:hover {
    color: #d32f2f;
}

/* Banner de publicidad en el aside */
aside .ad-banner {
    background-color: #fff3cd;
    color: #856404;
    padding: 15px;
    text-align: center;
    border: 1px solid #ffeeba;
    border-radius: 4px;
    margin-top: 20px;
    font-weight: bold;
}

h2, h3 {
    margin: 30px 0;
}

h2 {
    padding-top: 20px;
    border-top: 2px solid gray;
}

/* Video responsive simple */
video {
    width: 100%;
    display: block;
    margin: 0 auto;
    border: 5px solid white;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#video figcaption {
    margin: 20px 0px;
    text-align: center;
}

/* Galería de Modelos (Flex Wrap) */
/* Aplicamos flex al contenedor que solo tiene las fotos */
.gallery-grid {
    display: flex;
    justify-content: center;
    /* Centrados horizontalmente */
    flex-wrap: wrap; /* Prueba a quitar esto. Todas la imágenes en una sola línea */
}

#models figure {
    background: white;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 45%;
    /* Dos columnas aprox */
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    /* Petición: Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#models img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /* Redondeamos también la imagen un poco */
}

#models figcaption {
    font-weight: bold;
    margin-top: 10px;
    color: #d32f2f;
}

/* Estilo para el modelo en oferta */
#models figure.on-sale {
    border: 2px solid #ff9800;
    /* Borde naranja de oferta */
    background-color: #fff3e0;
    /* Fondo sutil */
    position: relative;
    /* Necesario si queremos posicionar una etiqueta dentro */
}

/* Etiqueta de "Oferta" flotando */
.sale-text {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #d32f2f;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    box-shadow: 0 4px 4px rgba(255, 0, 0, 0.2);
}

/* Estilo para el modelo agotado */
#models figure.sold-out {
    border: 2px dashed grey;
    /* Borde discontinuo */
    background-color: lightgrey;
    /* Fondo sutil */
    position: relative;
    /* Necesario si queremos posicionar una etiqueta dentro */
}

/* Etiqueta de "agotado" flotando */
.sold-out-text {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: lightgrey;
    color: grey;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    box-shadow: 0 4px 4px grey;
}

.message {
    font-weight: bold;
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 15px;
    border-radius: 10px 0px;
    padding: 8px;
    box-shadow: 0 8px 8px grey;
}

/* Enlace final */
.btn-cta {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-cta:hover {
    background-color: #d32f2f;
}

/* Selector de atributo para RRSS */
footer a {
    color: #E1306C;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

.back-top {
    display: inline-block;
    padding: 10px;
    background-color: rgba(250, 102, 122, 0.3);
    border-radius: 5px; /* Un poco de estética */

    /* fixed para que no se mueva al hacer scroll */
    position: fixed;

    /* Posicionado respecto a body: No hay otro "padre" con relative */
    bottom: 100px;
    /* Separado 20px del final de la ventana */
    right: 20px;
    /* Separado 20px de la derecha */

    z-index: 1000;
    /* Aseguramos que flote por encima de todo */
}

.back-top a {
    color: rgb(89, 3, 16, 0.6);
    text-decoration: none;
    cursor: pointer;
}