body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tablon{
    padding: 20px;
    background-color: burlywood;
    border: 10px solid brown;
    height: 400px;
}

.nota{
    position: absolute;
    width: 150px;
    height: 150px;
}
.nota-1{
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: red;
}

.nota-2{
    top: 60px;
    left: 80px;
    z-index: 2;
    background-color: yellow;
}

.nota-3{
    top: 100px;
    left: 140px;
    z-index: 3;
    background-color: blue;
}