body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    background-color: black;
    padding: 1rem;
    width: 150px;
}
li{
    color: white;
}

a{
    color: orange;
    text-decoration: none;
}

h1{
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: green;
}

p{
    text-align: left;
    border: 2px solid blue;
    background-color: white;
    width: 300px;
    padding: 5px;
    margin: 5px auto;
}

#fin{
    text-align: center;
    border: none;
    background-color: lightgray;
    color: red;
    font-style: italic;
    font-weight: 900;
}