body{
    background-color: lightgray;
    
}
header{
    background-color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 30px auto;
    border-radius: 10px;
    max-width: 1000px;
}
figure img{
    width: 900px;
    border-radius: 0 0 10px 10px;
}
figure figcaption{
    font-style: italic;
    margin: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: gray;
}

section{
    width: 100%;
    padding: 20px;
}

section h2{
    color: red;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}
section p{
    padding: 30px 0;
}

section dl{
    margin: 20px 0;
    padding: 30px 20px;
    background-color: lightgray;
    border-radius: 5px;
    border-left: 5px solid red;
}

section dt{
    font-weight: 900;
    font-size: 1.1rem;

}
section dd{
    margin-bottom: 20px;
    font-size: 0.9rem;
}

table, tr, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
}


section table{
    width: 900px;
    margin: 50px;
}

table caption{
    text-align: right;
    font-size: 0.8rem;
    font-style: italic;
}

thead{
    
}
thead tr{
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    text-transform: uppercase;
}

th{
    padding: 15px;
}

td{
    padding: 15px;
    text-align: left;
}

tbody th[colspan="3"]{
    background-color: gray;
    color: red;
}

tbody th[scope="row"]{
    text-align: left;
}