    /* Solución ejercicio A - DAW1V */    

    * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }

    body {
      background: linear-gradient(to right, steelblue, lightblue);
      font-family: Arial, sans-serif;
      line-height: 1.5;
    }

    header {
      background-color: #004d8a;
      padding: 10px 0px;
    }

    h1 {
      color: white;
      text-shadow: 5px 5px 6px lightgrey;
      font-size: 3rem;
      word-spacing: 1rem;
      text-align: center;
      padding: 10px;
    }
    
    nav {
      margin: 20px 50px;
    }

    nav ul li {
      display: inline-block;
      margin: 0px 10px;
    }

    li a {
      text-decoration: none;
      color: rgb(51, 51, 51);
      background-color: #7ec4e5;
      padding: 10px;
      border-radius: 0px 10px;
      display: inline-block;
      width: 100px;
    }
    li a:hover, li a:focus {
      text-decoration: underline;
      background-color: rgb(51, 51, 51);
      color: #7ec4e5;
    }

    .main-container {
      display: flex;
    }

    main {
      width: 75%;
    }

    .tarjeta-perfil {
      width: 80%;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgb(0, 0, 0);
      background: radial-gradient(ellipse, white, #004d8a);
      margin: 5px auto 15px;
      text-align: center;
    }

    .tarjeta-perfil img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid #000;
    }

    .tarjeta-perfil h2,
    .tarjeta-perfil .descripcion {
      color: #004d8a;
      font-weight: bold;
      letter-spacing: 0.5rem;
    }

    .formacion {
      padding-left: 20px;
    }

    .tabla-estudios {
      width: 80%;
      border-collapse: collapse;
      box-shadow: 0 4px 8px rgb(0, 0, 0);
      margin: auto;
    }

    .tabla-estudios caption {
      font-weight: bold;
      margin: 10px;
      border-top: #F5F1F1 3px dashed;
      padding: 5px;
    }

    .tabla-estudios th, .tabla-estudios td {
      padding: 10px;
      border: 1px solid #000;
    }

    .tabla-estudios th {
      background-color: darkblue;
      color: white;
    }

    .tabla-estudios td {
      width: 150px;
    }

    .tabla-estudios tbody tr:hover {
      background-color: lightblue;
      text-transform: uppercase;
    }

    .aficiones {
      padding: 30px;
      margin-bottom: 20px;
      display: flex;
    }

    .equipo {
      width: 40%;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }

    .aficiones h2{
      margin-bottom: 15px;
    }

    .aficiones img {
      border-radius: 20px;
      margin-left: 80px;
    }


    .aficiones p span {
      color: darkblue;
      font-weight: bold;
    }


    .contenedor-sobre-mi {
      padding: 40px 20px;
      width: 55%;
    }

    .contenedor-sobre-mi p {
      margin-bottom: 15px; /* Ajusta este valor según sea necesario */
  }

    ol li {
      list-style-type: upper-alpha;
    }

    ul li {
      list-style-position: inside;
    }
    
    li#cine {
      list-style-image: url('../img/cine.png');
    }
    li#deporte {
      list-style-image: url('../img/medalla.png');
    }
    li#naturaleza {
      list-style-image: url('../img/senderismo.png');
    }
   
    aside {
      padding: 0px 30px 30px 30px;
      border-width: 2px 0px 0px 2px;
      border-color: #004d8a;
      border-style: solid;
      border-radius: 8px; /* Añadido borde redondeado para consistencia */
      width: 22%;
      color: black;
      background-color: #7ec4e5; /* Fondo azul, para integrar con la paleta más suave */
      padding-left: 20px; /* Ajuste de padding para que el contenido no quede pegado al borde */
}

    aside a {
      display: block;
      color: black;
      font-style: italic;
      margin-top: 20px;
    }
    
    aside h3 {
      margin-top: 30px;
    }
    
    input {
      display: block;
      width: 100%;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      height: 2rem;
    }
    
    input#email {
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 0px 10px;
    }

    footer {
      width: 100%;
      background-color: black;
      color: white;
      padding: 10px;
      margin-top: 10px;
      text-align: center;
    }

input:focus {
  background-color: yellow;
}