*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: auto;
    background: linear-gradient(to right, steelblue, lightblue);
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
    padding: 20px;
    text-align: center;
    background-color:  #004d8a;
    color: white;
    text-shadow: 3px 3px 3px lightgray;
}
/* nav */

nav ul{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    margin: 10px;
}


nav ul li{
    list-style: none;
    
}

nav ul li a{
    width: 100px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    background-color: #7ec4e5;
    padding: 10px;
    margin: 20px;
    text-align: left;
    list-style: none;
    border-radius: 0 10px;
}

li a:hover, li a:focus {
    text-decoration: underline;
    background-color: rgb(51, 51, 51);
    color: #7ec4e5;
}

/* nav ul li:hover, nav ul li a:hover{
    background-color: rgb(51, 51, 51);
    color: #7ec4e5;
    text-decoration: underline;
}

nav ul li:hover a{
    color: #7ec4e5;
} */

/* main container class */
.main-container{
    margin: auto;
    display: flex;
    flex-direction: row;
}
/* main */
main{
    width: 70%;
    margin: auto;
    text-align: center;
}

/* section 1*/
.tarjeta-perfil{
    width: fit-content;
    min-width: 90%;
    margin: 10px auto;
    box-shadow: 3px 5px 5px 5px black;
    border-radius: 10px;
    color: #004d8a;
    background: radial-gradient(circle, white, #004d8a);
}
.tarjeta-perfil img{
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px;
}
.tarjeta-perfil h2{
    letter-spacing: 0.8rem;
    padding: 10px;
}
.descripcion{
    font-weight: 900;
    letter-spacing: 0.5rem;
    padding-bottom: 20px;
}



/* section 2 */
.formacion{
    margin: auto;
    margin: 30px 10px;
}

.formacion h2{
    text-align: left;
    padding-bottom: 10px;
}
.tabla-estudios{
    border-collapse: collapse;
    margin: auto;
    width: 90%;
    box-shadow: 1px 1px 5px 2px black;
}
.tabla-estudios caption{
    border-top: 2px dashed #F5F1F1;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 900;
}
.tabla-estudios tr, td{
    border: 1px solid black;
}

.tabla-estudios thead{
    background-color: darkblue;
    color: white;
    font-size: 0.8rem;
}
.tabla-estudios thead th{
    padding: 10px;
}
tbody td{
    padding: 10px;
    text-align: left;
}
tbody tr:nth-child(even):hover{
    background-color: lightblue;
    text-transform: uppercase;
}

/* section 3 */
.aficiones{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    margin: 30px 10px;
}
.aficiones h2{
    text-align: left;
    padding-bottom: 20px;
}
.equipo{
   width: 50%;
}
.equipo img{
    width: 60%;
    margin: 0 20px;
    border-radius: 10px;
}
.contenedor-sobre-mi{
    width: 60%;
    padding: 30px 0;
    text-align: left;
}
.contenedor-sobre-mi p{
    text-align: left;
    padding: 20px 0;
}

.contenedor-sobre-mi span{
    color: darkblue;
    font-weight: 900;
}
.contenedor-sobre-mi ol{
    list-style:upper-alpha;
    margin-left: 20px;
}

.contenedor-sobre-mi ul{
    padding-left: 20px;
}

#deporte{
    padding: 2px;
    list-style: url("../img/medalla.png");
}
#cine{
    padding: 2px;
    list-style: url("../img/cine.png");
}
#naturaleza{
    padding: 2px;
    list-style: url("../img/senderismo.png");
}

/* aside */
aside{
    width: 25%;
    background-color: #7ec4e5;
    color: black;
    border: 1px solid #004d8a;
    height: fit-content;
    padding: 30px 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: inset 1px 1px;

    display: flex;
    flex-direction: column;
}
aside h3{
    padding: 10px;
}
aside a{
    padding: 10px;
    font-style: italic;
}
aside form{
    margin: 10px 0;
}
aside form input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: inset 1px 1px;
}
aside form input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    background-color: #004d8a;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}
/* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}